<section class="post-comments">
    <div id="container"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
        var gitment = new Gitment({
            id: 'https://tuobaye0711.github.io' + location.pathname,
            owner: 'tuobaye0711',
            repo: 'tuobaye0711.github.io',
            oauth: {
                client_id: '7c63ec766ab0084a9849',
                client_secret: 'e0bfadcadf48977a1a9b8b083de499d311a8dcfe',
            },
        })
        gitment.render('container')
    </script>
</section>