<footer class="footer">

    <span class="footer__copyright">&copy; 2016-2017. |  拓跋的<a href="https://tuobaye0711.github.io/">前端客栈</a>给您敬茶 |  主题基于<a
                href="https://github.com/someus/huno">Huno</a>改写 | <span>Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></span> | <span id="busuanzi_container_site_uv" style="font-size: 0.8em">
  本站访客数<span id="busuanzi_value_site_uv"></span>人次
</span></span>

</footer>

<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>